<!DOCTYPE html>
<html lang="en">

<head>
  <title>Portfolio</title>
  <link rel="stylesheet" href="../../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../stylesheets/memes.css">
  <link href="../../stylesheets/navbar.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
    <section class="container">
      <table class="table" id="table">
        <thead>
          <tr>
            <th scope="col">Meme Name</th>
            <th scope="col">Image</th>
            <th scope="col"><input id="search-input" type="text"></th>
            <th scope="col"><button id="search-btn">Search</button></th>
          </tr>
        </thead>
        <tbody id="meme-body">
          <% memesData.data.memes.forEach(function(meme){ %>
            <tr id="meme-<%= meme.id %>">
                <td id="meme-name"><%= meme.name %></td>
                <td><img class="meme-img" src="<%= meme.url %>" alt="<%= meme.name %>" title="<%= meme.name %>"/></td>
                <% if (req.isAuthenticated()) { %>
                  <td>
                    <td>
                      <form action="/meme" method="post">
                        <button href="/meme?id=<%=meme.id %>" class="btn btn-primary" id="detailsButton" onclick="color('<%= meme.id %>')" type="submit">View Details</button>
                        <input type="hidden" name="id" value="<%= meme.id %>">
                        <input type="hidden" name="url" value="<%= meme.url %>">
                        <input type="hidden" name="name" value="<%= meme.name %>">
                        <input type="hidden" name="width" value="<%= meme.width %>">
                        <input type="hidden" name="height" value="<%= meme.height %>">
                      </form>
                    </td>
                </td>
                <% } %>
            </tr>
        <% }); %>
        </tbody>
      </table>
    </section>
    <%- include('./partials/scripts.ejs') %>
</body>

</html>